/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: rgb(46, 45, 45);
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: linear-gradient(to right, rgba(247, 168, 21) 0%, rgba(249, 216, 107, 1) 100%);
  min-height: 70px;
  position: fixed;
  text-align: center;
}
.nav {
  font-weight: 700;
  list-style-type: none;
  padding: 0;
}

.nav .name {
    display: block;
    color: white;
}

.name {
  font-size: 1.5em;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}
header {
  text-align: center;
  background: url('../images/Alicantenyawebb\ \(1\).png') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 165px;
  width: 150px;
  height: auto;
  border-radius: 50%;
  border: 3px rgba(247, 168, 21, .9) solid;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(360deg);
}
.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: #fff;
  color: rgb(247, 168, 21);
  font-weight: 900;
  letter-spacing: 3px;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  width: -webkit-fill-available;
  max-width: 600px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: rgb(252,15,72);
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: rgb(252,15,72);
}

footer {
  width: 80vw;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}
/* Florian start */
#logo {
  width: 65px;
  height: auto;
  border-radius: 50%;
  position:fixed;
  display: block;
  margin-top: -18px;
  padding: 4px;
  text-align: center;
  transition: all 0.5s;
}
#logo:hover {
  transform: scale(1.2);
}
.my-experience {
  text-align: left;
  padding-left: 15px;
}

.experience-title {
  display: inline-block;
  text-align: center;
  top: auto;
  padding-top: 140px;
}

#main-experience {
  margin-top: -20px;
}

#header-experience {
  background: none;
  min-height: 0px;
}
h5 {
  text-align:center;
  font-style: italic;
  font-weight: normal;
}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
/* different .card, because 3 per row, not 2 */
.card-experience {
  margin: 30px;
  padding: 20px 40px 40px;
  width: -webkit-fill-available;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card-experience:hover {
  border-color: rgb(252,15,72);
}
address em {
  font-weight: bold;
  font-style: normal;
}
.address {
  font-style: normal;
}
.kisa {
  border-radius: 50%;
  max-height: 300px;
  max-width: 300px;
  border: 12px rgba(247, 168, 21, .5) solid;
}
.article-kisa {
  margin-top: -20px;
}
/* Florian end */

/* Fixing header for mobile */
/* ================ */

/* Containers */
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.m-nav-name {
  display: flex;
  flex-direction: column;
  flex: 1 100%;
}
.m-nav-nav {
  display: flex;
  flex: 1 100%;
}
.m-nav-left {
  display: flex;
  flex-direction: column;
  flex: 1 50%;
}
.m-nav-right {
  display: flex;
  flex-direction: column;
  flex: 1 50%;
}

/* Elements */
.name {
  align-self: center;
  flex: 1;
  padding: 0;
  margin-top: -20px;
}

header>.name {
  margin-top: 10px;
  padding: 10px;
}
/* ================ */

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
  
  /* Start header stuff */
  /* ================= */

  /* Containers */
  .nav {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .m-nav-name,
  .m-nav-nav,
  .m-nav-left,
  .m-nav-right {
    flex: none;
    flex-direction: row;
  }
  .m-nav-name {
    margin-right: auto;
  }

  /* Header Elements */
  #logo {
    margin: -13px;
  }
  .m-nav-name>.name {
    margin: 0 auto 0 55px;
  }
  .experience-title {
    padding-top: 100px;
  }
  /* ================= */
}

